name: Deploy

on:
  push:
    branches:
      - main
  workflow_dispatch:
    inputs:
      deployment_result:
        description: Result of the deployment. Set to fail to simulate deployment failure. The default is pass.
        default: pass
        type: choice
        options:
        - pass
        - fail
      test_result:
        description: Result of the smoke test. Set to fail to simulate test failure. The default is pass.
        default: pass
        type: choice
        options:
        - pass
        - fail

jobs:

  unit-tests:
    name: Run unit tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Run unit tests 1
        run: |
          echo Running unit tests 1...
          # sleep 5
          echo '${{ toJSON(github.event) }}'

  integration-tests:
    name: Run integration tests
    runs-on: ubuntu-latest
    needs: [unit-tests]

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      # - name: Run integration tests
      #   run: python test_integration.py
      #   env:
      #     SNOW_URL: https://dev280175.service-now.com
      #     SNOW_STANDARD_CHANGE: 92b653b2537a7610065e78e0a0490e5e
      #     SNOW_USER: ${{ secrets.SNOW_USER }}
      #     SNOW_PASSWORD: ${{ secrets.SNOW_PASSWORD }}

  create-snow-change:
    name: Create ServiceNow change
    runs-on: ubuntu-latest
    needs: [integration-tests]
    permissions:
      contents: write
    env:
      SNOW_URL: https://dev280175.service-now.com
    outputs:
      CHANGE_SYS_ID: ${{ steps.create-change.outputs.CHANGE_SYS_ID }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Bump version and push tag
        uses: anothrNick/github-tag-action@v1
        id: tag
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TAG_PREFIX: v

      - name: List commits
        id: commit-list
        shell: python -u {0}
        run: |
          import json,os,sys
          commit_list = json.loads(os.environ["COMMITS_CONTEXT"])
          if commit_list is None:
            sys.exit(0)
          commit_text = "List of pushed commits:\n"
          for c in commit_list:
            commit_text += f"- {c['id']} by {c['author']['username']}:\n"
            commit_text += f"{c['message']}\n"

          print(commit_text)
          with open(os.environ['GITHUB_OUTPUT'], 'a') as output_file:
            print(f'COMMIT_TEXT<<EOF', file=output_file)
            print(commit_text, file=output_file)
            print('EOF', file=output_file)
        env:
          COMMITS_CONTEXT: ${{ toJSON(github.event.commits) }}

      - name: Create and schedule change
        id: create-change
        run: |
          ./snow_change_manager.py create \
            --short-description "$SHORT_DESCRIPTION" \
            --standard-change $SNOW_STANDARD_CHANGE  \
            | grep '=' \
            > snow_variables.sh

          echo Change created successfully and scheduled immediately
          cat snow_variables.sh

          source snow_variables.sh
          echo "CHANGE_SYS_ID=$CHANGE_SYS_ID" >> $GITHUB_OUTPUT

          WORKFLOW_RUN_LINK=${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}
          ./snow_change_manager.py post-comment \
            --sys-id $CHANGE_SYS_ID \
            --comment "Commit SHA: ${{github.sha}}
            Link to [code]<a href=\"$WORKFLOW_RUN_LINK\" target=\"_blank\">Github action workflow</a>[/code]
            Triggered by ${{github.actor}}

            ${{ steps.commit-list.outputs.COMMIT_TEXT}}"
        env:
          SHORT_DESCRIPTION: "Release Manage breast screening version ${{steps.tag.outputs.tag}}"
          SNOW_STANDARD_CHANGE: 92b653b2537a7610065e78e0a0490e5e
          SNOW_USER: ${{ secrets.SNOW_USER }}
          SNOW_PASSWORD: ${{ secrets.SNOW_PASSWORD }}

  deploy:
    name: Deploy to production
    runs-on: ubuntu-latest
    needs: [create-snow-change]
    env:
      SNOW_URL: https://dev280175.service-now.com
    outputs:
      CHANGE_SYS_ID: ${{ needs.create-snow-change.outputs.CHANGE_SYS_ID }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Start change
        run: |
          ./snow_change_manager.py update --sys-id $CHANGE_SYS_ID --state Implement

          echo Change started successfully. Ready for deployment.
        env:
          CHANGE_SYS_ID: ${{ needs.create-snow-change.outputs.CHANGE_SYS_ID }}
          SNOW_USER: ${{ secrets.SNOW_USER }}
          SNOW_PASSWORD: ${{ secrets.SNOW_PASSWORD }}

      - name: Deploy software
        id: deploy-software
        run: |
          echo Deploying software... | tee -a deployment.log
          sleep 5

          if [[ "${{ inputs.deployment_result }}" = "fail" ]]; then
            echo Error: Deployment has failed. | tee -a deployment.log
            {
              echo 'LOG<<EOF'
              cat deployment.log
              echo EOF
            } >> "$GITHUB_OUTPUT"
            exit 1
          fi

          echo Deployed software successfully | tee -a deployment.log
          {
            echo 'LOG<<EOF'
            cat deployment.log
            echo EOF
          } >> "$GITHUB_OUTPUT"

      - name: Review change
        if: always()
        run: |
          ./snow_change_manager.py update --sys-id $CHANGE_SYS_ID --state Review

          if [[ "${{ job.status }}" != "success" ]]; then
            message="The deployment was unsuccessul"
          else
            message="The deployment was successul"
          fi

          echo "$message"

          ./snow_change_manager.py post-comment \
            --sys-id $CHANGE_SYS_ID \
            --comment "$message
            Deployment log:
            ${{ steps.deploy-software.outputs.LOG}}"
        env:
          CHANGE_SYS_ID: ${{ needs.create-snow-change.outputs.CHANGE_SYS_ID }}
          SNOW_USER: ${{ secrets.SNOW_USER }}
          SNOW_PASSWORD: ${{ secrets.SNOW_PASSWORD }}

      - name: Run smoke test
        id: smoke-test
        run: |
          echo Testing the deployment... | tee -a test.log
          sleep 5

          if [[ "${{ inputs.test_result }}" = "fail" ]]; then
            echo Error: The smoke tests 1,2,3 have failed. | tee -a test.log
            {
              echo 'LOG<<EOF'
              cat test.log
              echo EOF
            } >> "$GITHUB_OUTPUT"
            exit 1
          fi

          echo The smoke tests 1,2,3 were successful | tee -a test.log
          {
            echo 'LOG<<EOF'
            cat test.log
            echo EOF
          } >> "$GITHUB_OUTPUT"

      - name: Update change
        run: |
          if [[ "${{ job.status }}" != "success" ]]; then
            message="The test was unsuccessul"
          else
            message="The test was successul"
          fi

          echo "$message"

          ./snow_change_manager.py post-comment \
            --sys-id $CHANGE_SYS_ID \
            --comment "$message
            Smoke test log:
            ${{ steps.smoke-test.outputs.LOG}}"
        env:
          CHANGE_SYS_ID: ${{ needs.create-snow-change.outputs.CHANGE_SYS_ID }}
          SNOW_USER: ${{ secrets.SNOW_USER }}
          SNOW_PASSWORD: ${{ secrets.SNOW_PASSWORD }}

  close-change:
    name: Close ServiceNow change
    if: always()
    runs-on: ubuntu-latest
    needs: [deploy]
    env:
      SNOW_URL: https://dev280175.service-now.com

    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      - name: Close change
        if: needs.deploy.outputs.CHANGE_SYS_ID
        run: |
          if [[ "${{ needs.deploy.result }}" = "success" ]]; then
            result=successful
          else
            result=unsuccessful
          fi

          ./snow_change_manager.py update --sys-id $CHANGE_SYS_ID --state Closed --result $result

          echo Change closed with result: $result
        env:
          CHANGE_SYS_ID: ${{ needs.deploy.outputs.CHANGE_SYS_ID }}
          SNOW_USER: ${{ secrets.SNOW_USER }}
          SNOW_PASSWORD: ${{ secrets.SNOW_PASSWORD }}
