name: Deploy

on:
  push:
    branches:
      - main
      - pipeline

jobs:
  unit-tests:
    name: Run unit tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Run unit tests 1
        run: echo Running unit tests 1...

  integration-tests:
    name: Run integration tests
    runs-on: ubuntu-latest
    needs: [unit-tests]

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Run integration tests
        run: python test_integration.py
        env:
          SNOW_URL: https://dev280175.service-now.com
          SNOW_ASSIGNMENT_GROUP: 8a5055c9c61122780043563ef53438e3
          SNOW_STANDARD_CHANGE: 508e02ec47410200e90d87e8dee49058
          SNOW_USER: ${{ secrets.SNOW_USER }}
          SNOW_PASSWORD: ${{ secrets.SNOW_PASSWORD }}


  create-snow-change:
    name: Create ServiceNow change
    runs-on: ubuntu-latest
    needs: [integration-tests]

    steps:
      - name: Checkout code
        uses: actions/checkout@v5
