name: Deploy

on:
  push:
    branches:
      - main
      - pipeline

jobs:
  # unit-tests:
  #   name: Run unit tests
  #   runs-on: ubuntu-latest

  #   steps:
  #     - name: Checkout code
  #       uses: actions/checkout@v5

  #     - name: Run unit tests 1
  #       run: |
  #         echo Running unit tests 1...
  #         sleep 5

  # integration-tests:
  #   name: Run integration tests
  #   runs-on: ubuntu-latest
  #   needs: [unit-tests]

  #   steps:
  #     - name: Checkout code
  #       uses: actions/checkout@v5

  #     - name: Run integration tests
  #       run: python test_integration.py
  #       env:
  #         SNOW_URL: https://dev280175.service-now.com
  #         SNOW_ASSIGNMENT_GROUP: 8a5055c9c61122780043563ef53438e3
  #         SNOW_STANDARD_CHANGE: 508e02ec47410200e90d87e8dee49058
  #         SNOW_USER: ${{ secrets.SNOW_USER }}
  #         SNOW_PASSWORD: ${{ secrets.SNOW_PASSWORD }}


  create-snow-change:
    name: Create ServiceNow change
    runs-on: ubuntu-latest
    # needs: [unit-tests]
    # needs: [integration-tests]
    env:
      SNOW_URL: https://dev280175.service-now.com
    outputs:
      CHANGE_SYS_ID: ${{ steps.create-change.outputs.CHANGE_SYS_ID }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Create and schedule change
        id: create-change
        run: |
          ./snow_change_manager.py create \
            --short-description "$SHORT_DESCRIPTION" \
            --standard-change $SNOW_STANDARD_CHANGE  \
            --assignment-group $SNOW_ASSIGNMENT_GROUP \
            > snow_variables.sh

          echo Change created successfully and scheduled immediately
          cat snow_variables.sh

          source snow_variables.sh
          echo "CHANGE_SYS_ID=$CHANGE_SYS_ID" >> $GITHUB_OUTPUT
        env:
          SHORT_DESCRIPTION: "Deploy commit ${{github.sha}} to service X"
          SNOW_ASSIGNMENT_GROUP: 8a5055c9c61122780043563ef53438e3
          SNOW_STANDARD_CHANGE: 508e02ec47410200e90d87e8dee49058
          SNOW_USER: ${{ secrets.SNOW_USER }}
          SNOW_PASSWORD: ${{ secrets.SNOW_PASSWORD }}

  deploy:
    name: Deploy to production
    runs-on: ubuntu-latest
    needs: [create-snow-change]
    env:
      SNOW_URL: https://dev280175.service-now.com

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Start change
        run: |
          ./snow_change_manager.py update --sys-id $CHANGE_SYS_ID --state Implement

          echo Change started successfully. Ready for deployment.
        env:
          CHANGE_SYS_ID: ${{ needs.create-snow-change.outputs.CHANGE_SYS_ID }}
          SNOW_USER: ${{ secrets.SNOW_USER }}
          SNOW_PASSWORD: ${{ secrets.SNOW_PASSWORD }}

      - name: Deploy software
        run: |
          echo Deploying software...
          sleep 5

      - name: Review change
        run: |
          ./snow_change_manager.py update --sys-id $CHANGE_SYS_ID --state Review

          echo Change updated successfully. Ready for review.
        env:
          CHANGE_SYS_ID: ${{ needs.create-snow-change.outputs.CHANGE_SYS_ID }}
          SNOW_USER: ${{ secrets.SNOW_USER }}
          SNOW_PASSWORD: ${{ secrets.SNOW_PASSWORD }}

      - name: Run smoke tests
        run: |
          echo Testing the deployment...
          sleep 5

      - name: Close change
        run: |
          ./snow_change_manager.py update --sys-id $CHANGE_SYS_ID --state Closed --result successful

          echo Change closed successfully
        env:
          CHANGE_SYS_ID: ${{ needs.create-snow-change.outputs.CHANGE_SYS_ID }}
          SNOW_USER: ${{ secrets.SNOW_USER }}
          SNOW_PASSWORD: ${{ secrets.SNOW_PASSWORD }}
